@import url('https://fonts.googleapis.com/css?family=Poppins|Work+Sans');

/*-- Basic styles --*/

body {
  background-color: #9c9292;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Work Sans", Arial, Helvetica, sans-serif; 
}

a {
    color: floralwhite;
}

a:hover {
    color: #ddd4d4;
}

h1 {
    margin-top: 7%;
}

hr {
    width: 70%;
    background-color: #9c9292;

}

p {
    padding: 0px 10%;
    text-align: justify;
}

/*--Other styles--*/

body .jumbotron {
    margin-bottom: 0px;
}

.lead {
    text-align: center;
}

.nav {
    text-transform: uppercase;
}

.content {
    text-align: start;
    padding: 0px 10%;
}

figure img {
    width: 100%;
    padding: 10px 15px 10px 15px;
}

#end {
    background-color: #383232;
    margin-top: 7%;
    
}

.fab {
    font-size: 30px;
    margin-right: 10px;
    margin-top: 20px;
}

.copy {
    color: floralwhite;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.up {
    color: floralwhite;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
